
input, textarea{
    width: 300px;
    height: 50px;
    border: 2px solid $mainColor;
    padding: 5px;
}

.textarea{
    &:active{
        height: 300px;
        background: linear-gradient(grey, white);
    }    

}