$mainColor: #fbb5bf;
$secondaryColor: #d7c89d;
$linkColor: white;
$fontFamily: 'Plus Jakarta Sans', sans-serif !important;
$gradientColor: linear-gradient(rgb(208, 206, 206), white);
$footColor: #ecebeb;

