@import "_variables";
@import "_footer";
@import "_separador";
@import "_nav.scss";
@import "_form.scss";
@import "_card.scss";
@import "_back.scss";
@import "_each.scss";

*{
    margin: 0;
    padding: 0;
    font-family: $fontFamily; 
    
}








