*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif !important; 
    
}
.logo{
    width: 200px;
    height: 200px;
}

/*-----------Navegador---------*/

.bg{
    background-color: #fbb5bf !important;
}
.navbar{
    position: sticky !important;
    top: 0 !important;
}
.nav-link{
    color: white !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
}

.nav-item:hover{
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
}
.btn{
    border: 1px solid white !important ;
    color: white !important;
}
.btn:hover{
    background-color: #d7c89d !important;
}

/*----------Footer----------*/

.footer{
    background-color: #ecebeb !important;
}

.footer, li, a, i{
    list-style: none;
    color: rgb(48, 47, 47) !important;
    text-decoration: none !important;
    padding: 5px;
    
}

.footer + a:hover{
    text-decoration: dashed;
    color: blue;
}


#spaceFoot{
    width: 100vw;
    height: 2vh;
}
