*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif !important; 
    
}

.nav-link{
    color: white !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
}

.nav-item:hover{
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
}
.btn{
    border: 1px solid white !important ;
    color: white !important;
}
.btn:hover{
    background-color: #d7c89d !important;
}



.footer{
    background-color: #ecebeb !important;
}

.footer, li, a, i{
    list-style: none;
    color: rgb(48, 47, 47) !important;
    text-decoration: none !important;
    padding: 5px;
    
}

.footer + a:hover{
    text-decoration: dashed;
    color: blue;
}


#spaceFoot{
    width: 100vw;
    height: 2vh;
}

#separador{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separador .content{
    width: 150%;
    height: 30px;
}

.bg-warning{
    background: linear-gradient(rgb(208, 206, 206), white);
    border-top:.5px solid rgb(127, 127, 127);
}
.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
 
}

.card-border:hover{
    transform: scale(1.05);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.bg{
    background-color: #fbb5bf;

}

input, textarea{
    width: 300px;
    height: 50px;
    border: 2px solid #fbb5bf;
    padding: 5px;
}

.textarea:active{
    height: 300px;
    background: linear-gradient(grey, white);

}