*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif; 
    
}

.container{
    display: grid;
    grid-template-areas:
        "logo"  
        "header"
        "main"
        "footer";
}


.header{
    grid-area: header;

}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}


