*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

.contenedor{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "logo"
        "menu"
        "main"
        "footer";
}

.btn_menu{
    background-color: #fbb5bf;
    flex-direction: column;
    display: none;
    cursor: pointer;
    width: 100vw;
    padding: 5px;

}



.item-logo{
    grid-area: logo;
    background-color: white;
}
/*----Bootstrap------*/
.bg{
    background-color: #fbb5bf !important;
}

#navbarNavDropdown a{
    color:white !important;
    font-weight: bold !important;
}

#navbarNavDropdown li:hover{
    border-top: 2px solid white !important;
    border-bottom: 2px solid white !important;
    transition: .2s;

  
}

.dropdown-menu{
    background-color: #fbb5bf !important;
}

.carousel-inner{
    height: 100vh !important;
}

footer{
    color: white;
    background-color: #fbb5bf;
}








/*------Bootstrap----------*/

.item-menu{
    position: sticky;
    top: 10px;
}

.item-menu{
    grid-area: menu;
    background-color: #fbb5bf;
    width: 100%;
    height: 10vh;    
}


.item-main{
    grid-area: main;
}
.item-footer{
    grid-area: footer;
    background-color: #fbb5bf;
}

.contenedor .item-logo{
    display: flex;
    justify-content: center;   
}

.contenedor .item-logo img{
    width: 200px;
    height: 200px;
}

.contenedor .item-logo img:hover{
    width: 250px;
    height: 250px;
    transition: 4s;
}

.contenedor .item-menu ul{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.item-menu ul li{ 
    text-align: center;
    list-style-type: none;
    padding: 10px;
}

.item-menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.item-menu li a:hover{
    border-top: solid 5px #d7c89d;
    border-bottom: solid 5px #d7c89d;
    transition: 0.5s;
    font-size: 25px;
    
}

.subMenu{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: relative;
    background-color: #fbb5bf;
    border-radius: 0 0 10px 10px;
}

.item-menu li:hover .subMenu{
    visibility: visible;
    opacity: 1;
}


.item-main img{
    width: 100%;
    height: 100%;
}

.item-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin: 0;
    color: white;
    
}
.item-footer a{
    text-decoration: none;
}

.item-footer ul{
    list-style-type:disc;
}

.red li{
    list-style-type: none;
    
}

.red a{
    color: white;
}


.item-main__img{
   display: flex;
   justify-content: center;
}

.prodImages{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    width: 60%;
    height: auto;
    padding: 10px;
}

.prodImages img{
    width: 100%;
    height: auto;
}

.prodImages img:hover{
    transform: scale(1.2);
}

main{
    height: 100vh;
}

/*CSS CONTACTO*/
.item-main__Form{
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.form{
    display: grid;
    grid-gap: 20px;
    width: 50%;
    height: auto;
}

.form input{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #fbb5bf;
    padding: 5px;
}

.form textarea{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: 2px solid #fbb5bf;
    padding: 5px;
}

.form textarea:focus{
    background: linear-gradient(to right, #fbb5bf, #d7c89d);
    color: white;
    width: 350px;
    height: 150px;
    transition: 1s;
    font-weight: bold;
    border: none;
}

.form input[type=submit]{
    background-color: #d7c89d;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.form input[type=submit]:hover{
    background: linear-gradient(to right, #fbb5bf, #d7c89d);
}


/*Cuidados del Producto*/

.item-main__Cuidados{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
    text-align: justify;
}

/*Quienes somos*/

.item-main__Nosotros{
    display: flex;
    justify-items: center;
    text-align: justify;
    width: 50%;
    height: auto;
}


/*responsive*/

.item-menu__responsive{
    display: none;
}

.button__responsive{
    padding: 5px;
    font-size: 25px;
    color: white;

}

.subMenu__responsive{
    display: none;
}

.responsiveNav{
    top: -1000px;
}


/*MediaQ*/


@media screen and (max-width: 640px){
    .item-menu{
        display: none;
    }
    
    .item-menu__responsive{
        display: block;
        position: absolute;
        background-color: #fbb5bf;
        z-index: 3;     
    }

    .responsiveNav{
        background-color: #fbb5bf;
        display: block;
        position: absolute;
        border-radius: 0 0 20px;
    }
    
    .item-menu__responsive:hover > .responsiveNav{
        top: 35px;
    }


    .responsiveNav li{
        text-align: justify;
        text-decoration: none;
        padding: 5px;
    }

    .responsiveNav li a{
        text-decoration: none;
        color: white;
        font-size: medium;
        font-weight: bold;
    }   

    .item-menu__responsive{
        background-color: #fbb5bf;
        width: 100%;
        z-index: 1;
    }

    .item-main{
        position: relative;
        top: 35px;
    }
    .item-footer{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        height: 80%;
        padding: 20px;
    }

    .prodImages{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        position: relative;
        top: 35px;
        
    }

    /*contacto*/
    .item-main__Form{
        position:relative ;
        top: 35px;
        height: 70%;

    }
    .form input{
        width: 300px;
        height: 50px;
        border-radius: 20px;
        border: 2px solid #fbb5bf;
        padding: 5px;
    }
    
    .form textarea{
        width: 300px;
        height: 80px;
        border-radius: 20px;
        border: 2px solid #fbb5bf;
        padding: 5px;
    }
    
    .form input[type=submit]{
        background-color: #d7c89d;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    .item-main__Cuidados{
        position: relative;
        top: 35px;
    }

}

@media screen and (min-width:640px) and (max-width:1200px){
    .item-menu{
        display: none;
    }
    
    .item-menu__responsive{
        display: block;
        position: absolute;
        background-color: #fbb5bf;
        z-index: 3;     
    }

    .responsiveNav{
        background-color: #fbb5bf;
        display: block;
        position: absolute;
        border-radius: 0 0 20px;
    }
    
    .item-menu__responsive:hover > .responsiveNav{
        top: 35px;
    }


    .responsiveNav li{
        text-align: justify;
        text-decoration: none;
        padding: 5px;
    }

    .responsiveNav li a{
        text-decoration: none;
        color: white;
        font-size: medium;
        font-weight: bold;
    }   

    .item-menu__responsive{
        background-color: #fbb5bf;
        width: 100%;
        z-index: 1;
    }

    .item-main{
        position: relative;
        top: 35px;
    }
    .item-footer{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        height: 80%;
        padding: 20px;
    }

    .prodImages{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        position: relative;
        top: 35px;
        
    }

    /*contacto*/
    .item-main__Form{
        position:relative ;
        top: 35px;
        height: 70%;

    }
    .form input{
        width: 300px;
        height: 50px;
        border-radius: 20px;
        border: 2px solid #fbb5bf;
        padding: 5px;
    }
    
    .form textarea{
        width: 300px;
        height: 80px;
        border-radius: 20px;
        border: 2px solid #fbb5bf;
        padding: 5px;
    }
    
    .form input[type=submit]{
        background-color: #d7c89d;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    .item-main__Cuidados{
        position: relative;
        top: 35px;
    }
}